<!-- begin::Notifications Panel-->
<div id="kt_quick_user" class="offcanvas p-10" [ngClass]="extrasUserOffcanvasDirection">
  <div class="offcanvas-close mt-n1 pr-5">
    <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
      <i class="ki ki-close icon-xs text-muted"></i>
    </a>
  </div>
  <div class="offcanvas-content pr-5 mr-n5">
    <!--begin::Nav-->
    <div class="navi navi-icon-circle navi-spacer-x-0">

      <ng-container *ngIf="user$ | async as _user">
        <!--end::Header-->
        <div class="mx-auto mt-2" style="width: max-content;">
          <div class="symbol symbol-100 ">
            <div class="symbol-label"
              style="background-image: url('./assets/media/users/300_21.jpg');border-radius: 30px;">
            </div>
            <i class="symbol-badge bg-success status"></i>
          </div>
        </div>
        <div class="text-center text-capitalize text-white pt-5">
          <h2>{{ _user.fullname }} </h2>

          <p>Student</p>


          <a class="btn btn-lg btn-light-primary font-weight-bolder py-2 px-5 cursor-pointer" href="#">Edit profile</a>

        </div>
        <!--begin::Content-->



        <!--begin::Separator-->
        <div class="separator separator-solid mt-8 mb-5"></div>
        <!--end::Separator-->


        <!--begin::Item-->
        <a class="navi-item cursor-pointer" href="/#">
          <div class="navi-link">
            <div class="symbol symbol-40 mr-3" style="background: rgba(255, 255, 255, 0.2) !important;">
              <div class="symbol-label bg-transparent">
                <span [inlineSVG]="
                          './assets/media/svg/icons/Map/Marker1.svg'
                        " cacheSVG="true" class="svg-icon svg-icon-md svg-icon-success" style="color: white;"></span>
              </div>
            </div>
            <div class="navi-text">
              <div class="font-weight-bold text-light text-uppercase">
                Location
              </div>
              <div class="text-light">
                Barcelona
              </div>
            </div>
          </div>
        </a>
        <!--end:Item-->

        <!--begin::Item-->
        <a class="navi-item cursor-pointer">
          <div class="navi-link">
            <div class="symbol symbol-40 mr-3" style="background: rgba(255, 255, 255, 0.2) !important;">
              <div class="symbol-label bg-transparent">

              </div>
            </div>
            <div class="navi-text">
              <div class="font-weight-bold text-light text-uppercase">
                Email
              </div>
              <div class="text-light">
                {{_user.email}}
              </div>
            </div>
          </div>
        </a>
        <!--end:Item-->


        <!--begin::Item-->
        <a class="navi-item cursor-pointer">
          <div class="navi-link">
            <div class="symbol symbol-40 bg-light mr-3">
              <div class="symbol-label">
                <span [inlineSVG]="
                    './assets/media/svg/icons/Files/Selected-file.svg'
                  " cacheSVG="true" class="svg-icon svg-icon-md svg-icon-danger"></span>
              </div>
            </div>
            <div class="navi-text">
              <div class="font-weight-bold">
                My Activities
              </div>
              <div class="text-muted">
                Logs and notifications
              </div>
            </div>
          </div>
        </a>
        <!--end:Item-->

        <!--begin::Item-->
        <a class="navi-item cursor-pointer">
          <div class="navi-link">
            <div class="symbol symbol-40 bg-light mr-3">
              <div class="symbol-label">
                <span [inlineSVG]="
                    './assets/media/svg/icons/Communication/Mail-opened.svg'
                  " cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary"></span>
              </div>
            </div>
            <div class="navi-text">
              <div class="font-weight-bold">
                My Tasks
              </div>
              <div class="text-muted">
                latest tasks and projects
              </div>
            </div>
          </div>
        </a>
        <!--end:Item-->
        <!--begin::Separator-->
        <div class="separator separator-solid my-7"></div>
        <!--end::Separator-->
      </ng-container>

    </div>
    <!--end::Nav-->
  </div>
  <!--end::Content-->
</div>
<!-- end::Notifications Panel-->