<!-- begin::Notifications Panel-->
<div id="kt_quick_notifications" class="offcanvas p-10" [ngClass]="extrasUserOffcanvasDirection">
  <!--begin::Header-->
  <div class="offcanvas-header justify-content-between mb-10">
    <a href="#" class="btn btn-xs btn-icon btn-primary btn-hover-light-primary" id="kt_quick_notifications_close">
      <i class="ki ki-close icon-xs"></i>
    </a>
    <h2 class="font-weight-bolder m-0 text-light" style="text-align: center;">
      Notifications
      <!-- <small class="text-muted font-size-sm ml-2">24 New</small> -->
    </h2>
   

  </div>
  <!--end::Header-->

  <!--begin::Content-->
  <div class="offcanvas-content pr-5 mr-n5">
    <!--begin::Nav-->
    <div class="navi navi-icon-circle navi-spacer-x-0">
      <!--begin::Item-->
      <a href="#" class="navi-item mb-10">
        <div class="navi-link rounded">
          <div class="symbol symbol-30 ml-6 mr-4 mb-6">
            <div class="symbol-label">
              <i class="flaticon-bell text-success icon-lg"></i>
            </div>
          </div>
          <div class="navi-text text-light">
            <div class="font-size-lg">
              <b>Gunther Ackner </b> 4min
            </div>
            <div style="float: left;">
              replied to your comment on Landin_Page.Sketch
            </div>
          </div>

          <div class="symbol symbol-40 mr-3" style="background: rgba(255, 255, 255, 0.2) !important;">
            <div class="symbol-label bg-transparent">
              <span [inlineSVG]="
              './assets/media/svg/icons/Communication/Mail.svg'
            " cacheSVG="true" class="svg-icon svg-icon-md svg-icon-light"></span>
            </div>
          </div>
        </div>

      </a>
      <!--end::Item-->

    </div>
    <!--end::Nav-->
  </div>
  <!--end::Content-->
</div>
<!-- end::Notifications Panel-->