.offcanvas{
    background-color: #3E6BEC !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.separator{
    border-color: rgba(255, 255, 255, 0.2);
}

.navi-item{
    margin-top: 12px;
    margin-bottom: 12px;
}

.class-data .navi-link{
    align-items: flex-start !important;

}

.status{
    border-width: 0px;
}