<div mat-dialog-content>
    <form [formGroup]="subjectsForm">
        <select class="custom-select" *ngIf="universities?.length" (change)="changeUniversity($event)"
            formControlName="university">
            <option value="">Choose your university</option>
            <option *ngFor="let university of universities" [value]="university.id_university">{{university.name}}
            </option>
        </select>

        <select class="custom-select" *ngIf="centers?.length" (change)="changeCenter($event)" formControlName="center">
            <option value="">Choose your center</option>
            <option *ngFor="let center of centers" [value]="center.code">{{center.name}}</option>
        </select>

        <select class="custom-select" *ngIf="studies?.length" (change)="changeStudy($event)" formControlName="studies">
            <option value="">Choose your study</option>
            <option *ngFor="let study of studies" [value]="study.code">{{study.name}}</option>
        </select>

        <select class="custom-select" *ngIf="plans?.length" (change)="changePlan($event)" formControlName="plans">
            <option value="">Choose your plan</option>
            <option *ngFor="let plan of plans" [value]="plan.code">{{plan.name}}</option>
        </select>

    </form>

    <div class="subject" *ngIf="subjects?.length">
        <ng-select2 [(ngModel)]="subjetcsId" [options]="options" [data]="subjects"
            [placeholder]="'Please select a subjects...'">
        </ng-select2>
    </div>


    <button (click)="subjectSubscribe()" id="kt_login_signin_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
        [disabled]="!((subjetcsId?.length) || isloading)">


        <span *ngIf="isloading"> Loading ...</span>

        <span *ngIf="!isloading">
            SUSCRIBETE
        </span>
    </button>

</div>