<!--begin::Signup-->
<div class="login-form login-signup">
    <!--begin::Form-->

    <ng-container *ngIf="errorState != errorStates.NoError">
    <form
      class="form"
      novalidate="novalidate"
      id="kt_login_signup_form"
      [formGroup]="resetForm"
      (ngSubmit)="submit()"
    >
      <!--begin::Title-->
      <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
          Reset Password
        </h3>
        <p class="text-muted font-weight-bold font-size-h4">
          Enter your new password in order to change it
        </p>
      </div>
      <!--end::Title-->
    <!-- begin::Alert error-->
    <ng-container *ngIf="errorState === errorStates.HasError">
        <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
        >
        <div class="alert-text">The password detail is incorrect</div>
        </div>
    </ng-container>
    <!-- end::Alert error-->

      <!--begin::Form group-->
      <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark "
          >New Password</label
        >
        <input
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
          type="password"
          placeholder="New password"
          name="password"
          formControlName="password"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': resetForm.controls['password'].invalid
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Password is required',
            control: resetForm.controls['password']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Password should have at least 3 symbols',
            control: resetForm.controls['password']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'Password should have maximum 100 symbols',
            control: resetForm.controls['password']
          }"
        ></ng-container>
      </div>
      <!--end::Form group-->
  
      <!--begin::Form group-->
      <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark "
          >Confirm New Password</label
        >
        <input
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
          type="password"
          placeholder="Confirm new password"
          name="cPassword"
          autocomplete="off"
          formControlName="cPassword"
          [ngClass]="{
            'is-invalid': resetForm.controls['cPassword'].invalid
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Confirm Password is required',
            control: resetForm.controls['cPassword']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Confirm Password should have at least 3 symbols',
            control: resetForm.controls['cPassword']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'Confirm Password should have maximum 100 symbols',
            control: resetForm.controls['cPassword']
          }"
        ></ng-container>
        <ng-container
          *ngIf="
            resetForm.controls['cPassword'].errors &&
            resetForm.controls['cPassword'].errors.ConfirmPassword
          "
        >
          <div class="fv-plugins-message-container">
            <div class="fv-help-block">
              'Passsword' and 'Confirm Password' didn't match.
            </div>
          </div>
        </ng-container>
      </div>
      <!--end::Form group-->

      <!--begin::Form group-->
      <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
        <button
          type="submit"
          id="kt_login_reset_submit"
          [disabled]=" resetForm.invalid "
          class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
        >
          Submit
        </button>
        <a
          routerLink="/auth/login"
          type="button"
          id="kt_login_reset_cancel"
          class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
        >
          Cancel
        </a>
  
        <ng-container *ngIf="isLoading$ | async">
          <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
      </div>
      <!--end::Form group-->
    </form>
    <!--end::Form-->
    </ng-container>
    <ng-container *ngIf="errorState === errorStates.NoError">
        <div
          class="card card-custom bgi-no-repeat gutter-b"
          style="
            height: 175px;
            background-color: #4ab58e;
            background-position: calc(100% + 1rem) bottom;
            background-size: 25% auto;
            background-image: url(assets/media/svg/humans/custom-1.svg);
          "
        >
          <!--begin::Body-->
          <div class="card-body d-flex align-items-center">
            <div class="py-2">
              <h3 class="text-white font-weight-bolder mb-3">Password changed!</h3>
              <p class="text-white font-size-lg">
                You can close this windows<br />
                no more actions are needed<br />
              </p>
              <a
                routerLink="/auth/login"
                class="swal2-confirm btn font-weight-bold btn-light-primary"
              >
                Ok, got it!
              </a>
            </div>
          </div>
          <!--end::Body-->
        </div>
      </ng-container>


  </div>
  <!--end::Signup-->
  
  <ng-template
    #formError
    let-control="control"
    let-message="message"
    let-validation="validation"
  >
    <ng-container
      *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          {{ message }}
        </div>
      </div>
    </ng-container>
  </ng-template>
  