<div class="container-infobar p-10">
    <!-- begin::Notifications Panel-->

    <div class="offcanvas-content pr-5 mr-n5">
        <!--begin::Nav-->
        <div class="navi navi-icon-circle navi-spacer-x-0">

            <!--begin::Realtime-->
            <ng-container>
                <div class=" text-capitalize text-white pt-5">
                    <h2><b>Realtime</b></h2>
                </div>

                <div class=" text-capitalize text-white" style="font-size:66px;">
                    <b>289</b>
                </div>

                <span class="text-light">
                    <p>Active Students</p>
                </span>

            </ng-container>
            <!--end:Realtime-->

            <!--begin::Separator-->
            <div class="separator separator-solid mt-10 mb-7"></div>
            <!--end::Separator-->

            <ng-container>
                <div class=" text-capitalize text-white pt-5">
                    <h2><b>University Students</b></h2>
                </div>
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"></apx-chart>


                <div class="mt-0 mb-10">
                    <!--begin::Item-->
                    <a class="navi-item">
                        <div class="navi-link">
                            <div class="symbol symbol-50 mr-3" style="background: #ED5275B0 !important;">
                                <div class="symbol-label bg-transparent">
                                    <span [inlineSVG]="'./assets/media/svg/icons/Home/Building.svg'" cacheSVG="true"
                                        class="svg-icon svg-icon-md svg-icon-light"></span>
                                </div>
                            </div>
                            <div class="navi-text">
                                <div class=" text-light mt-2">
                                    UPF
                                </div>
                                <div class="text-light font-weight-bolder">
                                    <h2> 55% </h2>
                                </div>
                            </div>
                            <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-up.svg'" cacheSVG="true"
                            class="svg-icon svg-icon-md svg-icon-success mr-1"></span>
                        <div class="text-light font-weight-bolder">
                            2%
                        </div>
                            <!-- <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-down.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-danger mr-1"></span> 
                                <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-up.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-success mr-1"></span>
                            <div class="text-light font-weight-bolder">
                                10%
                            </div> -->
                        </div>
                    </a>
                    <!--end:Item-->
                    <!--begin::Item-->
                    <a class="navi-item">
                        <div class="navi-link">
                            <div class="symbol symbol-50 mr-3" style="background: #ECAD39B0   !important;">
                                <div class="symbol-label bg-transparent">
                                    <span [inlineSVG]="'./assets/media/svg/icons/Home/Building.svg'" cacheSVG="true"
                                        class="svg-icon svg-icon-md svg-icon-light"></span>
                                </div>
                            </div>
                            <div class="navi-text">
                                <div class=" text-light mt-2">
                                    UPC
                                </div>
                                <div class="text-light font-weight-bolder">
                                    <h2> 30% </h2>
                                </div>
                            </div>
                            <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-up.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-success mr-1"></span>
                            <div class="text-light font-weight-bolder">
                                5%
                            </div>
                        </div>
                    </a>
                    <!--end:Item-->
                    <!--begin::Item-->
                    <a class="navi-item">
                        <div class="navi-link">
                            <div class="symbol symbol-50 mr-3" style="background:  #0CD3A3B0 !important; ">
                                <div class="symbol-label bg-transparent">
                                    <span [inlineSVG]="'./assets/media/svg/icons/Home/Building.svg'" cacheSVG="true"
                                        class="svg-icon svg-icon-md svg-icon-light"></span>
                                </div>
                            </div>
                            <div class="navi-text">
                                <div class=" text-light mt-2">
                                    UAB
                                </div>
                                <div class="text-light font-weight-bolder">
                                    <h2> 15% </h2>
                                </div>
                            </div>
                            <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-down.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-danger mr-1"></span>

                            <div class="text-light font-weight-bolder">
                                7%
                            </div>
                        </div>
                    </a>
                    <!--end:Item-->
                    <!--begin::Item-->
                    <a class="navi-item">
                        <div class="navi-link">
                            <div class="symbol symbol-50 mr-3" style="background: #148FF6B0!important;">
                                <div class="symbol-label bg-transparent">
                                    <span [inlineSVG]="'./assets/media/svg/icons/Home/Building.svg'" cacheSVG="true"
                                        class="svg-icon svg-icon-md svg-icon-light"></span>
                                </div>
                            </div>
                            <div class="navi-text">
                                <div class=" text-light mt-2">
                                    UB
                                </div>
                                <div class="text-light font-weight-bolder">
                                    <h2> 5% </h2>
                                </div>
                            </div>
                            <!-- <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-down.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-danger mr-1"></span> -->

                        </div>
                    </a>
                    <!--end:Item-->

                </div>
            </ng-container>


        </div>
        <!--end::Nav-->
    </div>
    <!--end::Content-->
</div>