.container-infobar{
    background-color: #3E6BEC;
    // background-color: #6993ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-content: center;
    width: 375px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: sticky;
    top: 0px;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
.hidden{
    opacity: 0;
    position: fixed;
    right:-375
}

.container::-webkit-scrollbar {
    display: none;
}

.separator{
    border-color: rgba(255, 255, 255, 0.2);
}

#chart {
    padding: 0;
    max-width: 80%;
    margin: 35px auto;
  }

  .symbol {
    border-radius: 15px;
}